@use "../../node_modules/bootstrap/scss/bootstrap";

// Sección código php e indice
.codeSection {
  background-color: bootstrap.$blue-100;
  padding-bottom: 0.5rem;
  

  .codeHeader {
    background-color: #327ac5;
    background-color: bootstrap.$blue-400;

    a {
      color: white;
    }

    svg {
      fill: white;
    }
  }

  .codeWindow {
    top: 2rem;
    margin: 1.5rem 0rem 1.5rem 0rem;
    border-radius: 5px;

    .codeNav {
      height: 2.25rem;
      padding: 0.25rem 1rem;
      background: bootstrap.$black;
      border-radius: 5px 5px 0px 0px;
    }

    .codeContent {
      padding: 1.5rem 1.5rem;
      line-height: 1.5;
      background-color: bootstrap.$gray-900;
      border-radius: 0px 0px 5px 5px;

      h5 {
        color: bootstrap.$primary;
        font-size: 1.10rem;
        padding-bottom: 0.5rem;
        // text-transform: uppercase;
      }
      p {
        color: bootstrap.$white;
        .spanPhp {
          color: bootstrap.$yellow;
        }
        .spanVariable{
          color: bootstrap.$pink-400;
        }
        .spanFuncion{
          color: bootstrap.$orange;
        }
        .spanComentario{
          color: bootstrap.$gray-500;
        }
      }
      .pindent{
        margin-left: 2rem;
      }
      .pindent2{
        margin-left: 3rem;
      }
      .pindent3{
        margin-left: 4rem;
      }
      li {
        color: white;
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: yellow;
          }
        }
      }
    }
  }
}

// Sección navegador
.resultSection {
  background-color: bootstrap.$green-100;
  padding-bottom: 0.5rem;

  .resultHeader {
    // background-color:#3ebf7c;
    background-color: bootstrap.$green-400;
    a {
      color: white;
    }

    svg {
      fill: white;
    }
  }

  .resutlWindow {
    top: 2rem;
    margin: 1.5rem 0rem 1.5rem 0rem;
    border-radius: 5px;

    .resultNav {
      height: 2.25rem;
      padding: 0.25rem 1rem;
      background-color: bootstrap.$gray-500;
      border-radius: 5px 5px 0px 0px;
    }

    .resultContent {
      padding: 1.5rem 1.5rem;
      line-height: 1.5;
      background-color: bootstrap.$gray-200;
      border-radius: 0px 0px 5px 5px;

      h5 {
        color: bootstrap.$primary;
        font-size: 1.10rem;
        padding-bottom: 0.5rem;
        // text-transform: uppercase;
      }
      p {
        color: black;
        span {
          color: bootstrap.$green-400;
        }
      }
    }
  }
}

#acordeonIndice {
  .accordion-item {
    border: none;
    .accordion-header {
      button {
        background-color: bootstrap.$gray-900;
        color: bootstrap.$primary;
        border: none;
        &:hover {
          color: bootstrap.$pink-500;
        }
        &:visited {
          color: bootstrap.$pink-500;
        }
      }
    }

    .accordion-body {
      background-color: bootstrap.$gray-900;
      color: bootstrap.$white;
      border: none;
    }
  }
}

